*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}





.nav {
    display: flex;
    justify-content: space-around;
}

#openingContent {
     text-align: center;
}


#quizContent {
    text-align: center;
}

/* .answerList {
    display: flex;
    justify-content: space-around;
} */

.itemButton {
    /* display: block; */
    margin: 30px;
}



