*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}





.nav {
    display: flex;
    justify-content: space-around;
}

#timeContainer {
  display: flex;
  flex-direction: row;
}

#timer__part {
  padding-left: 5px;
}


#openingContent {
     text-align: center;
}


#quizContent {
    text-align: center;
}


.itemButton {
    margin: 30px;
}


.highScoreItems {
  list-style-type: none;
}

.scoreItems {
  list-style-type: none;
}

#highScoresContainer {
  text-align: center;
}


.finalButton {
  margin: 30px;
}



.highScoreButtons {
  margin: 30px;
}
